:root {
    /* Chatbox Gift Button */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div > div:nth-child(2) > div > div.content_f75fb0 > main > form > div > div.channelTextArea_f75fb0.channelTextArea__74017 > div.scrollableContainer__74017.themedBackground__74017 > div > div.buttons__74017 > button {
        display: none;
    }

    /* Chatbox App Button*/
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div > div:nth-child(2) > div > div.content_f75fb0 > main > form > div > div.channelAppLauncher_e6e74f {
        display: none;
    }

    /* Chatbox App Button - VC */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div > div:nth-child(2) > div > div.layerContainer_da8173 > div > div:nth-child(3) > div.chat_ee72fa > section > form > div > div.channelAppLauncher_e6e74f {
        display: none;
    }

    /* Nitro tab */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div > div > nav > div.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c > ul > li:nth-child(4) {
    display: none;
    }

    /* Store tab */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div > div > nav > div.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c > ul > li:nth-child(5) {
        display: none;
    }

    /* Discover Button */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > nav > ul > div.itemsContainer_ef3116 > div.footer__214dc {
        display: none;
    }

    /* Image App Button Overlay */
    [aria-label="Edit Image with Apps"] {
        display: none;
    }
}