/* ----REVERTS: Adapted slightly From https://github.com/MaiRiosIPla/unshittify-discord/tree/main ---- */
.visual-refresh .panels_c48ade {
    right: var(--space-xs) !important;
    left: auto;
    bottom: var(--space-xs);
    width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width));
}

.visual-refresh .guilds_c48ade {
    margin-bottom: 0;
}
.visual-refresh .base_c48ade {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
}

/* Top bar (hidden) */
.bar_c38106 {
    gap: 2px;

    /* margin-left: calc(var(--custom-guild-list-width) + var(--space-8)); */
    width: max-content;

    z-index: 2000 !important;
    position: absolute;

    background-color: var(--background-tertiary);
    border-radius: var(--radius-sm);
    top: 6px;
    right: var(--space-xs);
    left: unset;
    padding: 0;
    overflow: hidden;
}
.bar_c38106::before {
    content: "";
    mask-image: url(https://1y5jxd9sss.ufs.sh/f/8JQcvMcXxzFvCOxxpEmmsZtLc5uIiWBDAV12TqGCdMjz3EbS);

    mask-size: 1.4rem;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--icon-tertiary);

    /* color: var(--icon-tertiary); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--custom-app-top-bar-height);
    height: var(--custom-app-top-bar-height);
    cursor: pointer;

    pointer-events: none;
}

/* Hide bar title */
.title__85643,
.title_c38106 {
    display: none !important;
}
.container__9293f {
    padding-right: 270px !important;
    overflow: hidden !important;
}

/* Align discord logo and left bar */
.tree_ef3116 {
    margin-top: 1rem;
}

/* bad fix for search bar */
.search__49676 * {
    display: flex !important;
    flex-shrink: 1 !important;
}
.searchBar__97492 {
    width: auto !important;
    min-width: 100px !important;
}

/* Rounded icons */
.icon__6e9f8, 
.closedFolderIconWrapper__48112, 
.folder__48112, 
.expandedFolderIconWrapper__48112,
.wrapper__6e9f8,
.circleIconButton__5bc7e
{
	border-radius: 100% !important;
	overflow: hidden !important;
}
/* ---- END OF REVERTS ---- */


    /* ---- BLOCKS ---- */
:root {
    /* Chatbox gift button */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.page_c48ade > div > div > div.content_f75fb0 > main > form > div > div > div.scrollableContainer__74017.themedBackground__74017 > div > div.buttons__74017 > button {
        display: none;
    }

    /* Chatbox App Button*/
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.page_c48ade > div > div > div.content_f75fb0 > main > form > div > div > div.scrollableContainer__74017.themedBackground__74017 > div > div.buttons__74017 > div.channelAppLauncher_e6e74f {
        display: none;
    }

    /* Nitro tab */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > div.sidebarList_c48ade.sidebarListRounded_c48ade > nav > div.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c > ul > li:nth-child(4) {
    display: none;
    }

    /* Store tab */
    #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > div.sidebarList_c48ade.sidebarListRounded_c48ade > nav > div.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c > ul > li:nth-child(5) {
        display: none;
    }

    /* Image App Button Overlay */
    [aria-label="Edit Image with Apps"] {
        display: none;
    }
}